<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Layout demo</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>TITLE</h1>
      <na>
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </na>
    </header>
    <main>
      <h2>Sub heading</h2>
      <img src="http://fillmurray.com/400/600" alt="Film Murray">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </main>

    <aside>
      <h3>Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Tommy</li>
        <li>Marcus</li>
      </ul>

    </aside>

  </div>


</body>

</html>
