/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
body {
  margin: 40px auto 40px auto;
  width: 1000px;
}

header {
font-family: 'Bree Serif', serif;
color: #656565;
font-size: 50px;
padding-bottom: 10px;
font-kerning: 10px;
}


h1 {
  font-size: 24px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

h2 {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #5c9fce;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #5c9fce;
}

.textcopy {
  width: 900px;
}

p, footer{
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

.logos img {
  align-items: center;
  border: 3px solid;
  border-color: #c5c5c5;
  margin: 3px;
}
